@charset "utf-8";
/* CSS Document */

.employeephoto {
float: left;
padding: 8px 10px 0px 10px;
}
.employeebio {
display: block;
line-height: 1.5;
padding: 0px 0px 10px 0px;
}
.outofoffice {
padding: 0 0 0 8px;
color:red;
}
